.fileInput {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.fileInput + label {
  cursor: pointer;
  background: #ddf;
  max-width: 80%;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  text-overflow: ellipsis;
}

.fileInput:focus + label, .fileInput.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
