<template name="uploadForm">
  {{#with currentUpload}}
    Uploading <strong>{{file.name}}</strong>
    <div id="progress">{{progress.get}}%</div>
  {{else}}
    <fieldset class="uploadForm grid">
      <div class="col-0">
        <i class="fa fa-plus-circle"></i>
        <label for="fileDescription">Description</label>
        <input id="fileDescription" type="text" />
        <input type="file" name="file" id="fileInput" class="fileInput" disabled="{{fileInputDisabled}}" />
        <label for="fileInput"><i class="fa fa-upload"></i> {{uploadLabel}}</label>
      </div>
    </fieldset>
  {{/with}}
  <hr />
</template>
